.Missions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.Missions table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.Missions table th{
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.Missions table td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.Missions table tr:hover{
    background-color: #f2f2f2;
}